<!doctype html>
<html lang="en" class="h-100">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="author" content="Mark Otto, Jacob Thornton, and Bootstrap contributors">
  <title>{{title}}</title>

  <link rel="canonical" href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/">
  <link href="https://getbootstrap.com/docs/5.0/examples/sticky-footer/sticky-footer.css">


  <!-- Bootstrap core CSS
  <link href="https://getbootstrap.com/docs/5.0/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous"> -->

  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
    rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
    crossorigin="anonymous">

</head>

<body class="d-flex flex-column h-100">

  <!-- Begin page content -->
  <main class="flex-shrink-0">
    <div class="container-title">

      <h2>{{title}}</h2>

    </div>
  </main>

  <div class="container">
   
    <div class="card" *ngFor="let post of posts">
      <div class="card-header">
        <h4 class="card-title"> Título: {{post.title}} | Autor: {{post.author}} </h4>
      </div>
      <div class="card-body">
        
        <p class="card-text">{{post.content}}</p>
        <h4 href="" class="btn-id"> ID {{post.id}}</h4>
      </div>
    </div>
    
  </div>

  <div class="container">
    
    <form class="form-tudo" #userlogin="ngForm" (ngSubmit)="submitForm(userlogin)">

      <h4>Publicar um Post</h4>
      <input class="form-control" placeholder="Titulo" name="titulo" ngModel>

      <textarea class="form-control" placeholder="Descrição" name="content" ngModel cols="20" rows="5"></textarea>

      <input class="form-control" placeholder="Autor" name="author" ngModel>

      <button class="btn btn-success btn-block btn-lg">Criar</button>

    </form>
  </div>

  <div class="container">
    
    <form class="form-tudo" #updatePost="ngForm" (ngSubmit)="submitFormPut(updatePost)">

      <h4>Editar Post</h4>
      <input class="form-control" placeholder="Informe o do ID: " name="id" ngModel>

      <input class="form-control" placeholder="Novo Titulo" name="titulo" ngModel>

      <textarea class="form-control" placeholder="Nova Descrição" name="content" ngModel cols="20" rows="5"></textarea>

      <input class="form-control" placeholder="Novo nome Autor" name="author" ngModel>

      <button class="btn btn-primary btn-block btn-lg">Editar</button>

    </form>
  </div>

  <div class="container">

    <form class="form-tudo" #deletePost="ngForm" (ngSubmit)="submitFormDelete(deletePost)">
      
      <h4>Deletar Post</h4>
      <input class="form-control" placeholder="ID: " name="id" ngModel>

      <button class="btn btn-danger btn-block btn-lg">Deletar</button>

    </form>
  </div>

  <footer class="footer mt-auto py-3 bg-dark">

    <div class="container">
      <span class="text-muted">Desenvolvido por <a class="desco" href="https://github.com/samueloliveiraf" target="_blank">Samuel Fernandes</a> </span>
    </div>

  </footer>

</body>

</html>